# additional QtCreator files #
# ############################
*.pro.*
*.qmlproject.*
*.cbp

# PCLint installation depending files
# ###################################
lint/lint_cmac.h
lint/lint_cppmac.h
lint/gcc-include-path.lnt
lint/size-options.lnt
lint/qt-include-path.lnt

# Compiled source, better to ignore directly #
# ############################################
*.dll
*.exe
*.[oa]
*.so
*.so.*

# backup, logs, output and temporary files #
# ##########################################
*~
*.bak
*.autosave
*.orig
*.log
*.rep

# Packages #
# ##########
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tgz
*.tar.gz
*.zip

# OS generates files #
# ####################
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

