QPushButton, QToolButton, QLabel, QComboBox, QLineEdit, QCheckBox {
    font-family: .AppleSystemUIFont;
    font-style: normal;
    font-size: 12pt;
}

QToolButton {
    background: transparent;
}

QLabel {
    text-align: right;
}

QLabel#label_version {
    text-align: left;
    font-weight: normal;
}

QPushButton[action_button = true] {
    font-weight: bold;
    min-width: 80px;
    min-height: 40px;
}

QLabel#labelPosition {
    font-weight: bold;
    background: transparent;
}

QLineEdit#leFileName {
    font-weight: bold;
    background: transparent;
}

QComboBox#cbQuery {
    font-size: 14pt;
    font-weight: bold;
}

QTextEdit#teEditor {
    selection-color: yellow;
    selection-background-color: blue;
}

QTextEdit#teEditor[code_edit = true] {
    font-family: "SF Mono";
    font-style: normal;
    font-size: 11pt;
}

QToolButton#label_version {
    background-color: rgba(0, 0, 0, 0);
    border: 0 solid
}

QCheckBox#cbWithForeignKeys {
    margin-right: 7px;
}

QCheckBox#cbShowFirst {
    margin-right: 7px;
}

QCheckBox#checkBoxPasswordSave {
    margin-right: 7px;
}

